.container {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  padding: 1em;
}

.title {
  color: #48888f;
  letter-spacing: -0.031em;
  line-height: 1.3;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  text-align: center;
}

.content {
  color: #555;
  line-height: 1.7;
  text-align: center;
}

.content a {
  color: #48888f;
}

@media (min-width: 600px) {
  .container {
    padding: 2em 2em;
  }

  .title {
    font-size: 1.885em;
  }

  .content {
    font-size: 0.945em;
  }
}
@media (min-width: 900px) {
  .container {
    padding: 2em 7em;
  }

  .title {
    font-size: 1.78em;
  }

  .content {
    font-size: 0.89em;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 2em 9em;
  }

  .title {
    font-size: 1.685em;
  }

  .content {
    font-size: 0.85em;
  }
}
